.task-container {
  margin: 0 auto;
  max-width: 600px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  flex: 1;
  font-size: 1.1em;
  margin: 0 10px 10px 0;
  font-weight: 500;
}

.task-status-text {
  font-size: 0.9em;
  margin-top: 5px;
  margin-right: 15px; /*  lisätty oikea marginaali */
  width: 100px; /*  kiinteä leveys */
  text-align: center; /* keskitetty teksti */
}

.status-completed {
  color: green;
}

.status-incomplete {
  color: red;
}

.task-dates {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.task-dates small {
  color: #666;
  font-size: 0.85em;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.task-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-btn,
.delete-selected-btn,
.edit-btn,
.delete-btn,
.cancel-btn,
.save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.add-task-btn,
.save-btn {
  background-color: #4ecdc4;
  color: white;
}

.delete-selected-btn,
.delete-btn,
.cancel-btn {
  background-color: #ff6b6b;
  color: white;
}

.edit-btn {
  background-color: #4ecdc4;
  color: white;
}

.delete-btn {
  background-color: #ff6b6b;
  color: white;
}

.edit-form-dialog,
.add-task-form {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-form-dialog h3,
.add-task-form h3 {
  margin-bottom: 20px;
  font-size: 1.4em;
}

.edit-form-dialog form,
.add-task-form form {
  display: flex;
  flex-direction: column;
}

.edit-form-dialog label,
.add-task-form label {
  margin-top: 15px;
}

.edit-form-dialog input[type="text"],
.edit-form-dialog textarea,
.add-task-form input[type="text"],
.add-task-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-description {
  margin-top: 10px;
  padding: 10px;
  background-color: #e0f7fa;
  border-radius: 4px;
}
