<div class="task-container">
  <!-- Tehtävän lisääminen -->
  <button class="add-task-btn" (click)="showAddTaskForm()">Lisää tehtävä</button>

  <!-- Tehtävälista -->
  <ul class="task-list">
    <li *ngFor="let task of paginatedTasks()" class="task-item"
        (mouseenter)="hoverTask(task._id)" (mouseleave)="hoverTask(null)">
      <app-task-item [task]="task"
                     (deleteRequest)="deleteTaskConfirmation($event)"
                     (editRequest)="setActiveTask($event)"
                     (toggleSelection)="toggleTaskSelection($event)"
                     (hover)="hoverTask($event)">
      </app-task-item>
    </li>
  </ul>

 

  <!-- Poista valitut tehtävät -painike -->
  <button class="delete-selected-btn" (click)="deleteSelectedTasksConfirmation()">Poista valitut</button>

<!-- Poista kaikki tehtävät -painike -->
<button class="delete-all-btn" (click)="deleteAllTasksConfirmation()">Poista kaikki</button>

</div>


 <!-- Sivutusohjaimet -->
 <div class="pagination-container">
  <button [disabled]="currentPage === 1" (click)="prevPage()">Edellinen</button>
  <span *ngFor="let page of pages()" 
        class="page-number" 
        [class.active]="currentPage === page" 
        (click)="goToPage(page)">{{ page }}</span>
  <button [disabled]="currentPage === totalPages()" (click)="nextPage()">Seuraava</button>
</div>

<!-- Tehtävän muokkaus-/lisäyslomake (näytetään, kun on aktiivinen tehtävä tai lisäyspyyntö) -->
<div *ngIf="isEditFormVisible && activeTask" class="edit-form-dialog">
  <h3>{{ activeTask._id ? 'Muokkaa Tehtävää' : 'Lisää Uusi Tehtävä' }}</h3>

  <form (ngSubmit)="activeTask._id ? updateTask() : addNewTask()">
    <label for="title">Otsikko:</label>
    <input type="text" id="title" [(ngModel)]="activeTask.title" name="title" required placeholder="Syötä otsikko">

    <label for="description">Kuvaus:</label>
    <textarea id="description" [(ngModel)]="activeTask.description" name="description" required placeholder="Syötä kuvaus"></textarea>

    <label for="completed">Tehtävän tila:</label>
    <select id="completed" [(ngModel)]="activeTask.completed" name="completed">
      <option [ngValue]="false">Keskeneräinen</option>
      <option [ngValue]="true">Valmis</option>
    </select>

    <button type="submit" class="save-btn">{{ activeTask._id ? 'Tallenna' : 'Lisää' }}</button>
    <button type="button" class="cancel-btn" (click)="cancelEdit()">Peruuta</button>
  </form>
</div>
