<div class="task-container">
  <!-- Tehtävän lisääminen -->
  <button class="add-task-btn" (click)="showAddTaskForm()">Lisää tehtävä</button>


<!-- Tehtävän lisäämislomake -->
<div *ngIf="isEditFormVisible && !activeTask?._id" class="edit-form-dialog">
  <h3>Lisää Uusi Tehtävä</h3>
  <form (ngSubmit)="addNewTask()">
    <label for="addTitle">Otsikko:</label>
    <input type="text" id="addTitle" [(ngModel)]="activeTask!.title" name="addTitle" required placeholder="Syötä otsikko" maxlength="120">
    <label for="addDescription">Kuvaus:</label>
    <textarea id="addDescription" [(ngModel)]="activeTask!.description" name="addDescription" required placeholder="Syötä kuvaus"></textarea>
    <label for="addCompleted">Tehtävän tila:</label>
    <select id="addCompleted" [(ngModel)]="activeTask!.completed" name="addCompleted">
      <option [ngValue]="false">Keskeneräinen</option>
      <option [ngValue]="true">Valmis</option>
    </select>
    <button type="submit" class="save-btn">Lisää</button>
    <button type="button" class="cancel-btn" (click)="cancelEdit()">Peruuta</button>
  </form>
</div>


  <!-- Tehtävälista -->
  <ul class="task-list">
    <li *ngFor="let task of paginatedTasks()" class="task-item"
        (mouseenter)="hoverTask(task._id)" (mouseleave)="hoverTask(null)">
      <app-task-item [task]="task"
                     (deleteRequest)="deleteTaskConfirmation($event)"
                     (editRequest)="setActiveTask($event)"
                     (toggleSelection)="toggleTaskSelection($event)"
                     (hover)="hoverTask($event)">
      </app-task-item>

      <!-- Muokkauslomake -->
      <div *ngIf="isEditFormVisible && activeTask && activeTask._id === task._id" class="edit-form-dialog">
        <h3>Muokkaa Tehtävää</h3>
        <form (ngSubmit)="updateTask()">
          <label for="editTitle">Otsikko:</label>
          <input type="text" id="editTitle" [(ngModel)]="activeTask!.title" name="editTitle" required placeholder="Syötä otsikko" maxlength="120">
          <label for="editDescription">Kuvaus:</label>
          <textarea id="editDescription" [(ngModel)]="activeTask!.description" name="editDescription" required placeholder="Syötä kuvaus"></textarea>
          <label for="editCompleted">Tehtävän tila:</label>
          <select id="editCompleted" [(ngModel)]="activeTask!.completed" name="editCompleted">
            <option [ngValue]="false">Keskeneräinen</option>
            <option [ngValue]="true">Valmis</option>
          </select>
          <button type="submit" class="save-btn">Tallenna</button>
          <button type="button" class="cancel-btn" (click)="cancelEdit()">Peruuta</button>
        </form>
      </div>
    </li>
  </ul>

  

  <!-- Poista valitut tehtävät -painike -->
  <button class="delete-selected-btn" (click)="deleteSelectedTasksConfirmation()">Poista valitut</button>

  <!-- Poista kaikki tehtävät -painike -->
  <button class="delete-all-btn" (click)="deleteAllTasksConfirmation()">Poista kaikki</button>
</div>

<!-- Sivutusohjaimet -->
<div class="pagination-container">
  <button [disabled]="currentPage === 1" (click)="prevPage()">Edellinen</button>
  <span *ngFor="let page of pages()" 
        class="page-number" 
        [class.active]="currentPage === page" 
        (click)="goToPage(page)">{{ page }}</span>
  <button [disabled]="currentPage === totalPages()" (click)="nextPage()">Seuraava</button>
</div>
