<button (click)="addTask()" class="add-task-btn">Lisää tehtävä</button>

<div class="task-container">
  <ul class="task-list">
    <li *ngFor="let task of tasks | async" class="task-item">
      <div class="task-content">
        <input type="checkbox" (change)="toggleTaskSelection(task._id)" [checked]="selectedTasks.has(task._id)">
        <span class="task-title" [class.completed]="task.completed">{{ task.title }}</span>
      </div>
      <div class="task-actions">
        <button (click)="deleteTask(task._id)" class="delete-btn">Poista</button>
        <button (click)="setActiveTask(task)" class="edit-btn">Muokkaa</button>
      </div>
    </li>
  </ul>
  <button (click)="deleteSelectedTasks()" class="delete-selected-btn">Poista valitut</button>
</div>

<!-- Muokkauslomakkeen dialogi -->
<div *ngIf="activeTask" class="edit-form-dialog"> <!-- Tarkistetaan, että activeTask on olemassa -->
  <h3 *ngIf="activeTask._id">Muokkaa Tehtävää</h3>
  <h3 *ngIf="!activeTask._id">Lisää Uusi Tehtävä</h3>
  <form (ngSubmit)="saveTask()">
    <label for="title">Otsikko:</label>
    <input type="text" id="title" [(ngModel)]="activeTask.title" name="title" required>

    <label for="description">Kuvaus:</label>
    <textarea id="description" [(ngModel)]="activeTask.description" name="description" required></textarea>

    <button type="submit">{{ activeTask._id ? 'Tallenna' : 'Lisää' }}</button>
    <button type="button" (click)="isEditFormVisible = false">Peruuta</button>
  </form>
</div>
