/* task-list.component.css*/


::ng-deep .container {
  
  
  border: none; /* Nollaa reunukset 
   
   /* Käytetään flexboxia 
    display:flex; 
    flex-direction: column; /* Asetetaan pystysuuntainen järjestys 
    align-items: stretch; /* Joustava leveys sisällön mukaan 
    justify-content:flex-start; /* Joustava korkeus sisään mukaan 
    
    width: 1800px; /* Kiinteä leveys 
    height: 1800px;/* Kiinteä korkeus 
    
    border: none; /* Nollaa reunukset 
    padding: 0; /* Nollaa täyttö */
    /**width: auto; /* Automaattinen leveys
    overflow-y:auto; /* Näyttää vierityspalkin tarvittaessa 
    margin: 0 auto;
    /**
    max-width: 1200px;
    max-height:none;
    /**
    padding: 10px;
    flex-grow: 1;      /* Tämä auttaa venyttää kontaineria sivusuunnassa */

    /**::ng-deep .container::-webkit-scrollbar {
      display: none;  
    }
    **/
  }

.task-container {
  margin: 0 auto;
  max-width: 450px;
  flex-grow: 1; /* Tämä auttaa venyttämään kontaineria sivusuunnassa */

}


.task-list {
  list-style: none;
  padding: 0;
  


}



.task-item {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.error-message {

  color: red;
}


/**
.task-content {
  padding: 20px;
}
**/

/**
.task-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-description {
  padding: 10px;
  background-color: #e0f7fa;
  border-radius: 4px;
}
**/

/**

.task-status-text {
  font-size: 0.9em;
  color: #666;



}
**/

/**
.task-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-dates small {
  color: #666;
  font-size: 0.85em;
}

**/


.task-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.task-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}




/* Otsikon tyyli */
.task-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* Varmistetaan, että maksimi leveys on asetettu */
}

/* Kuvaustekstin tyyli */
.task-description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.save-btn:hover,
.cancel-btn:hover {
  
  background-color: #3baa9f;
  color: white;
}

.cancel-btn:hover {
  background-color: #dc3545; /* Punainen */
  color: white;
}

.add-task-btn,
.delete-selected-btn,
.edit-btn,
.delete-btn,
.cancel-btn,
.save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.add-task-btn,
.save-btn {
  background-color: #4ecdc4;
  color: white;
  
}


.add-task-btn:hover {
  background-color: #3baa9f;

}

.delete-selected-btn:hover{

  background-color: #c82333;
}


.delete-selected-btn,
.delete-btn,
.cancel-btn {
  background-color: #ff6b6b;
  color: white;
}

.delete-all-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-all-btn:hover {
  background-color: #c82333;
}

.edit-btn {
  background-color: #4ecdc4;
  color: white;
}


.delete-btn {
  background-color: #ff6b6b;
  color: white;
}

.edit-form-dialog,
.add-task-form {
  
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



}

/**Dropdown**/
.edit-form-dialog select,
.add-task-form select {
  padding: 8px; /* Lisää paddingia */
  margin-top: 5px; /* Lisää ylämarginaalia */
  border: 1px solid #ccc; /* Lisää reunus */
  border-radius: 4px; /* Pyöristä reunat */
  font-size: 16px; /* Fonttikoko */
  background-color: #f7f4d4; /* Taustaväri */
  color: #333; /* Tekstin väri */
}


.edit-form-dialog h3,
.add-task-form h3 {
  margin-bottom: 20px;
  font-size: 1.4em;
}

.edit-form-dialog form,
.add-task-form form {
  display: flex;
  flex-direction: column;

}

.edit-form-dialog label,
.add-task-form label {
  margin-top: 15px;
}

.edit-form-dialog input[type="text"],
.edit-form-dialog textarea,
.add-task-form input[type="text"],
.add-task-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f7f4d4;
}


/**
.status-completed {
  color: green;
}

.status-incomplete {
  color: red;
}

**/

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.pagination-container button, 
.pagination-container .page-number {
  padding: 5px 10px;  
  margin: 0 3px;  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;  
  cursor: pointer;
  font-size: 10px;  
}

.pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container .page-number:hover {
  background-color: #0056b3;
}

.pagination-container .page-number.active {
  background-color: #0056b3;
  font-weight: bold;
}

/* Responsiivisuus */


@media (max-width: 768px) {
  .task-container {
    padding: 0 20px;
  }

  .task-actions button {
    padding: 8px 16px; /* Napin koko pienenee mobiililaitteille */
    font-size: 0.85em; /* Vähennetään fonttikokoa napin sisällä */
  }

  .task-title {
    font-size: 1em; /* Pienennetään otsikoiden fonttikokoa */
  }

  .task-dates small {
    font-size: 0.75em; /* Pienennetään pienen fontin koko */
  }

  .task-description {
    padding: 8px; /* Pienennetään lisää tehtävän kuvauksen paddingia mobiililaitteilla */
  }

  .edit-form-dialog,
  .add-task-form {
    margin: 0 auto;
    max-width: 500px; /* Pienennetään maksimileveyttä paremman sovituksen saamiseksi */
    padding: 10px;
 
 
  }



  .edit-form-dialog form,
  .add-task-form form {
    margin-top: 10px; /* Pienennetään lomakkeiden elementtien välistä tilaa */
  }

  .edit-form-dialog input[type="text"],
  .edit-form-dialog textarea,
  .add-task-form input[type="text"],
  .add-task-form textarea {
    padding: 8px; /* Pienennetään input-kenttien paddingia mobiililaitteilla */
  }
}