/* task-item.component.css */

.task-container {
    margin: 0 auto;
    max-width: 600px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-desc {

    color: #552e03a9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
 
  }
  
  .task-lower-half {
    position: relative;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    background: transparent;
    pointer-events: auto;
  }


  /**
.task-lower-half {
  position: relative;
}

.hover-area {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 50%; 
  background: transparent; 
  pointer-events: auto; 
}

**/


  .task-content {
    padding: 20px;
    display:flexbox;
    flex-direction: column;
    /**width: 100%;*/
  }
  

/***
  .task-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .task-content > div {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .task-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }


*/


.task-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  max-width: 100%; /* Voit muuttaa tätä arvoa tarvittaessa */
  display: block;
  overflow-x: auto; /* Lisää vaakasuuntainen vieritys, jos teksti menee yli */
}

/* Piilota vierityspalkki WebKit-selaimissa (kuten Chrome ja Safari) */
 .task-title::-webkit-scrollbar {
  display: none;
 }

 .task-title {
  scrollbar-width: none; /* Piilottaa vierityspalkin Firefoxissa */
}
  
 .task-description {
  padding: 10px;
  background-color: #f7f4d4;
  border-radius: 4px;
  max-width: 550px; /* tai muu sopiva leveys */
  max-height: 200px; /* määritä maksimikorkeus */
  overflow: hidden; /* Piilottaa mahdollisen ylivuotavan sisällön */
  word-wrap: break-word; /* Teksti rivittyy tarvittaessa */
  overflow-y: auto; /* Lisää pystysuuntainen vieritys tarvittaessa */
}

.task-description p {
  margin: 0; /* Poistaa oletusmarginaalin */
  white-space: pre-line; /* Näyttää rivinvaihdot */
  overflow-x: hidden; /* Poista vaakasuuntainen vieritys */
}

.task-description p::-webkit-scrollbar {
  display: none; /* Piilota vierityspalkki WebKit-selaimissa (kuten Chrome ja Safari) */
  
}
.task-description p {
  scrollbar-width: none; /* Piilota vierityspalkki Firefox-selaimessa */
}

  .task-status-text {
    font-size: 0.9em;
    color: #666;
  }
  
  .task-dates {
    display: flex;
    justify-content: space-between; /* Asettaa tilan pienten elementtien välille */
    align-items: center;
    font-size: 0.90em;
  
  }
  .task-dates small:first-child {
    margin-right: 25px; /* Lisää hieman tilaa luodun ja muokatun päivämäärän välille */
  
    
  }


  
  .task-dates small {
    color: #552e03a9;
    font-size: 0.90em;
    font-weight: bold;
    display: flex;
    text-align: justify;
    letter-spacing: 1.5px;
    max-width: 192px;

  }
  

  
 /** .task-dates small:first-child {
    left: -60px; /* Asetetaan ensimmäisen pienen elementin sijainti 
  }
  
  .task-dates small:last-child {
    right: -60px; /* Asetetaan viimeisen pienen elementin sijainti *//**
  }

  **/
  
  .task-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .task-actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*margin-left: 8px;*/

  }
  
  .add-task-btn,
  .delete-selected-btn,
  .edit-btn,
  .delete-btn,
  .cancel-btn,
  .save-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .add-task-btn,
  .save-btn {
    background-color: #4ecdc4;
    color: white;
  }
  
  .delete-selected-btn,
  .delete-btn,
  .cancel-btn {
    background-color: #ff6b6b;
    color: white;
  }
  
  .edit-btn {
    background-color: #4ecdc4;
    color: white;
  }
  
   .edit-btn:hover{

      background-color: #16a8ab;
    }

  .delete-btn {
    background-color: #ff6b6b;
    color: white;
  }
  
   .delete-btn:hover{


      background-color: #c82333;
   }




   
  .edit-form-dialog,
  .add-task-form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-form-dialog h3,
  .add-task-form h3 {
    margin-bottom: 20px;
    font-size: 1.4em;
  }
  
  .edit-form-dialog form,
  .add-task-form form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-form-dialog label,
  .add-task-form label {
    margin-top: 15px;
  }
  
  .edit-form-dialog input[type="text"],
  .edit-form-dialog textarea,
  .add-task-form input[type="text"],
  .add-task-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .status-completed {
    color: green;
   font-weight: bold; 
  }
  
  .status-incomplete {
    color: red;
    font-weight: bold;
  }
  
  .pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #0056b3;
}
  
  /* Responsiivisuus */
  
  @media (max-width: 768px) {
    .task-container {
      padding: 0 20px;
    }
  
    .task-actions button {
      padding: 8px 16px; /* Napin koko pienempi mobiililaitteille */
      font-size: 0.85em; /* Pienempi fontti napin sisällä */
    }
  
    .task-title {
      font-size: 1em; /* Pienennetään otsikoiden fonttikokoa */
    }
  
    .task-dates small {
      font-size: 0.75em; /* Pienennetään fontin koko */
    }
  
    .task-description {
      padding: 8px; /* Pienennetään tehtävän kuvauksen paddingia mobiililaitteilla */
    }
  
    .edit-form-dialog,
    .add-task-form {
      margin: 0 auto;
      max-width: 500px; /* Pienempi max leveys paremman sovituksen saamiseksi */
      padding: 10px;
    }
  
    .edit-form-dialog form,
    .add-task-form form {
      margin-top: 10px; /* Pienennetään lomakkeiden elementtien välistä tilaa */
    }
  
    .edit-form-dialog input[type="text"],
    .edit-form-dialog textarea,
    .add-task-form input[type="text"],
    .add-task-form textarea {
      padding: 8px; /* Pienennetään input-kenttien paddingia mobiililaitteilla */
    }
  }
  